DATABASE_URL=postgresql://formsgworkflow:password1234@db:5432/formsgworkflow?schema=public
NODE_TLS_REJECT_UNAUTHORIZED=0
SMTP_HOST=maildev
SMTP_PORT=1025
TELEGRAM_SEND_ALERTS=false
TELEGRAM_ALERT_CHANNEL=<CHANGEME>
TELEGRAM_BOT_TOKEN=<CHANGEME>
VERIFICATION_API=http://mockapi:8001/api
REMOTE_DATA_API=http://mockapi:8002/api
TEMPORAL_HOST=temporal:7233
ATTACHMENT_PATH=/attachments
ATTACHMENT_PASSWORD=happy1234