NGROK_AUTHTOKEN=<YOUR_NGROK_AUTHTOKEN>
NGROK_DOMAIN=<YOUR_NGROK_DOMAIN>

FORM_SECRET_KEY=CHANGE_ME

DATABASE_URL=postgresql://formsgworkflow:password1234@localhost:5432/formsgworkflow?schema=public
NODE_TLS_REJECT_UNAUTHORIZED=0
SMTP_HOST=127.0.0.1
SMTP_PORT=1025