NGROK_AUTHTOKEN=<YOUR_NGROK_AUTHTOKEN>
NGROK_DOMAIN=<YOUR_NGROK_DOMAIN>

FORM_SECRET_KEY=CHANGE_ME
FORM2_SECRET_KEY=CHANGE_ME
ATTACHMENT_PATH=<CHANGE_ME>

DATABASE_URL=postgresql://formsgworkflow:password1234@localhost:5432/formsgworkflow?schema=public

NODE_TLS_REJECT_UNAUTHORIZED=0
SMTP_HOST=127.0.0.1
SMTP_PORT=1025

TELEGRAM_SEND_ALERTS=false
TELEGRAM_ALERT_CHANNEL=<CHANGEME>
TELEGRAM_BOT_TOKEN=<CHANGEME>

VERIFICATION_API=http://localhost:8001/api
REMOTE_DATA_API=http://localhost:8002/api